*{
  margin: 0;
  padding: 0;
}
body {
    background-color: cornsilk;
    padding-left: 50px;
  }
  
  button{
    background-color:rgb(188, 234, 234);
    border: 0px;
  }

  button a{
    text-decoration: none;
    color: black;
  }
  .parent{
    display: flex;
    justify-content: space-around;
  }

  .child{
    width: 55%;
    height: 55%;
    margin: 10px;
  }

  .child h3{
    text-decoration: none;
    font-size: normal;
    height: 55%;
    margin: 10px;
  }

  div {
    max-height: 25%;
    min-height: 20%;
    max-width: 25%;
    min-width: none;
    background-color: powderblue;
    text-align: center;
  }
/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 400 to 900 */

.playfair-display-dunno {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}